
<md-input-container *ngIf="!newTaskRequested">
  <input mdInput (focus)="requestNewTask()"placeholder="New Task..." type="text">
</md-input-container>
<app-task-form *ngIf="newTaskRequested"[task]='selectedTask'></app-task-form>
<md-grid-list cols="12" rowHeight="100px">
  <md-grid-tile 
    *ngFor="let task of tasks"
    [colspan]="4"
    [rowspan]="2"
    (click)="selectTask(task)"
    >
    <md-card>
      <md-card-title>{{task.title}}</md-card-title>
      <md-card-subtitle>{{task.description}}</md-card-subtitle>
      <md-card-content>{{task.importance}}</md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
