
// Primary Theme
$md-civility-primary: (
    50 : #fdfdfd,
    100 : #f9fbfb,
    200 : #f6f8f8,
    300 : #f2f5f5,
    400 : #eff2f3,
    500 : #ecf0f1,
    600 : #eaeeef,
    700 : #e7eced,
    800 : #e4e9eb,
    900 : #dfe5e7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Accent Theme
$md-civility-accent: (
    50 : #e7f3fb,
    100 : #c2e0f4,
    200 : #9acced,
    300 : #71b7e6,
    400 : #52a7e0,
    500 : #3498db,
    600 : #2f90d7,
    700 : #2785d2,
    800 : #217bcd,
    900 : #156ac4,
    A100 : #f5f9ff,
    A200 : #c2ddff,
    A400 : #8fc1ff,
    A700 : #75b3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Warn Theme
$md-civility-warn: (
    50 : #fceae8,
    100 : #f8c9c5,
    200 : #f4a69e,
    300 : #ef8277,
    400 : #eb675a,
    500 : #e84c3d,
    600 : #e54537,
    700 : #e23c2f,
    800 : #de3327,
    900 : #d8241a,
    A100 : #ffffff,
    A200 : #ffdad9,
    A400 : #ffa9a6,
    A700 : #ff918c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
